<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 <table class="tableau">
 <% for(elm of adresses) {%>
 <tr>
 <td><%= elm.id %></td>
 <td><%= elm.nom %></td>
 <td><%= elm.telephone %></td>
 </tr>
 <% }) %>
 </table>
</body>
</html>